<p>nome: {{row.nome}} tem {{row.pag}} {{row.pagtit}}</p>
<button type="button" onclick="window.location.href='/books/alterar/{{row.nome}}'">Alterar</button>
<button type="button" onclick="window.location.href='/books'">Voltar</button>
<button type="button" onclick="window.location.href='/books/deletar/{{row.nome}}'">Deletar</button>